@media screen and (max-width: 50em) {
  .nav__list {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    right: 0;

    background-color: #fff;

    flex-direction: column;

    width: 0;
    height: 100vh;
  }
  .nav__item {
    padding: 2.04rem 1rem;
  }

  .icon--menu {
    display: block;
    font-size: 2.4rem;
    cursor: pointer;
  }

  .icon--menu--close {
    display: none;

    position: fixed;
    top: 1.5rem;
    right: 1.5rem;

    z-index: 100;
  }

  /* SECTION open menu */
  .open-menu .nav__list {
    visibility: visible;
    opacity: 1;

    width: 50vw;

    transition: all 0.3s ease-out;
  }

  .open-menu .nav__item {
    cursor: pointer;
  }

  .open-menu .icon--menu--close {
    display: block;
    cursor: pointer;
  }
}
