@import '_mixins';
@import '_var';

.card {
  @include flex-center;
  width: 50%;
  height: 60vh;
  max-width: 100rem;
  max-height: 80rem;
  min-width: auto;
  min-height: auto;

  background: rgba($color--white, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba($color--primary--darkest, 0.37);
  border-radius: $border--radius--big;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.card {
  @include media-manager(median) {
    width: 85%;
  }
}
