$color--primary--lighest: #d3faf7;
$color--primary--lighter: #7cf1e8;
$color--primary--light: #51ece0;
$color--primary: #25e7d8;
$color--primary--dark: #1eb9ad;
$color--primary--darker: #168b82;
$color--primary--darkest: #072e2b;

$color--secondary--lighest: #ecffd6;
$color--secondary--lighter: #e2ffc2;
$color--secondary--light: #d9ffad;
$color--secondary: #cfff99;
$color--secondary--dark: #a6cc7a;
$color--secondary--darker: #7c995c;
$color--secondary--darkest: #53663d;

$color--grey: #333;
$color--grey--light: #777;
$color--grey--lighter: #ccc;
$color--grey--lightest: #eee;

$color--black: #000;
$color--white: #fff;

$border--radius--small: 3px;
$border--radius--median: 5px;
$border--radius--big: 9px;

$device--smallest: 16em;
$device--small: 27em;
$device--median: 40em;
