@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#25e7d8, #cfff99); }

a:link,
a:visited {
  text-decoration: none;
  color: #fff; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Roboto', 'Open Sans';
  text-align: center;
  color: #333; }

h1,
h2 {
  text-transform: uppercase; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  max-width: 100rem;
  max-height: 80rem;
  min-width: auto;
  min-height: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(7, 46, 43, 0.37);
  border-radius: 9px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); }

@media screen and (max-width: 40em) {
  .card {
    width: 85%; } }

.form {
  width: 100%;
  height: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form__title {
    font-size: 3.6rem;
    font-family: 'Open Sans';
    color: #168b82;
    margin-bottom: 5%; }
  .form__field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%; }
    .form__field label {
      margin-bottom: 1rem;
      font-size: 2rem;
      color: #072e2b; }
    .form__field input {
      font-size: 1.4rem;
      border: none;
      background-color: transparent;
      border-bottom: 0.5px solid transparent;
      transition: all 0.3s ease-in; }
      .form__field input:focus {
        outline: none;
        border-bottom: 0.5px solid #333; }
  .form__btn {
    padding: 1rem 3rem;
    margin-bottom: 5%;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(120deg, #168b82, #072e2b);
    cursor: pointer;
    transform: translateY(0);
    transition: all 0.5s; }
    .form__btn:disabled {
      background: #ccc;
      color: #333;
      cursor: default; }
    .form__btn:not(:disabled):hover {
      box-shadow: 0 1.2rem 2rem 0 rgba(0, 0, 0, 0.1);
      transform: translateY(-0.5rem);
      background: #1eb9ad; }
    .form__btn:not(:disabled):active {
      box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.3);
      transform: translateY(1rem);
      background: #168b82; }
    .form__btn:focus {
      outline: none;
      outline: 0.5rem solid #a6cc7a; }
    .form__btn--sign-up {
      color: #333;
      background: #a6cc7a; }
  .form #name {
    border-bottom: 0.5px solid #333; }
  .form .link a:link, .form .link a:visited {
    color: #168b82; }

@media screen and (max-width: 40em) {
  .form__btn {
    padding: 1.5rem 6rem;
    font-size: 1.8rem; } }

@media screen and (max-width: 27em) {
  .form {
    width: 90%;
    padding: 1rem; }
    .form__title {
      font-size: 3rem;
      margin-bottom: 10%; }
    .form__field {
      margin-bottom: 15%; }
      .form__field label {
        font-size: 2.4rem; }
      .form__field input {
        font-size: 1.6rem; }
    .form__btn {
      padding: 1.8rem 6.5rem;
      font-size: 2rem; } }

@media screen and (max-width: 16em) {
  .form__title {
    font-size: 2.2rem; }
  .form__field label {
    font-size: 2.8rem; }
  .form__btn {
    padding: 1.8rem 5.5rem;
    font-size: 1.8rem; } }

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .welcome__title {
    font-size: 4rem;
    margin-bottom: 3rem; }
  .welcome__link:link, .welcome__link:visited {
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 2.2rem;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #1eb9ad;
    box-shadow: 0 0.8rem 2.4rem 0 rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: all 0.3s; }
    .welcome__link:link:not(:last-child), .welcome__link:visited:not(:last-child) {
      margin-bottom: 5%; }
  .welcome__link:hover {
    border: 3px solid #1eb9ad;
    background-color: #1eb9ad;
    box-shadow: 0 1.6rem 3rem 0 rgba(0, 0, 0, 0.2);
    color: #168b82;
    transform: translateY(-1rem); }
  .welcome__link:active {
    border: 3px solid #072e2b;
    background-color: #072e2b;
    box-shadow: 0 0.6rem 1.2rem 0 rgba(0, 0, 0, 0.5);
    color: #d3faf7;
    transform: translateY(0.5rem); }

.loading {
  display: block; }

.hidden {
  display: none; }

.logout:link, .logout:visited {
  color: #168b82; }

@media screen and (max-width: 40em) {
  .welcome__title {
    font-size: 3.2rem; }
  .welcome__link:link, .welcome__link:visited {
    font-size: 2rem; } }

@media screen and (max-width: 27em) {
  .welcome__link:link, .welcome__link:visited {
    font-size: 1.6rem; } }
