@media screen and (max-width: 75em) {
  .products {
    margin: 0 4rem;
  }
}

/* comment out to prevent conflict display */
/* @media screen and (max-width: 50em) {
  .nav__list {
    display: none;
  }

  .icon--menu {
    display: block;
    font-size: 2.4rem;
    cursor: pointer;
  }
} */

@media screen and (max-width: 31.25em) {
  .product__container {
    grid-template-columns: 1fr;
  }
}
