/* --- ------ --- */
/* --- Header --- */
/* --- ------ --- */

.header {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  height: 6rem;

  padding: 0 3rem;

  position: relative;
}

.logo {
  font-weight: 700;
}

.icon--menu {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 4rem;
}

.nav__link {
  letter-spacing: 0.05rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24rem;
  background-color: #ccddee;
}

.primary-text {
  font-weight: 900;
}

/* --- ----------------- --- */
/* --- Section: products --- */
/* --- ----------------- --- */

.products {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

.product__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.product__item {
  height: 20.4rem;
  background-color: #8899aa;
}

.btn-cta {
  margin: 2rem 0;
  padding: 2rem 1.2rem;
  background-color: #ddeeff;
}
