extends layout.pug
block content
  div(class="welcome")
    h1(class="welcome__title") Hello my Server!
    a(class="welcome__link" href="/sum") Counting page
    a(class="welcome__link" href="/myName") myName page